<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('js/vue.js') }}" defer></script>
            <script src="{{ asset('js/script.js') }}" defer></script>
            <script src="{{ asset('js/modal.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% if show_menu == true %}
            <div class="float-right">
                {% if user == null %}
                    <a class="login-href" href="/login">Вход</a>
                    <a class="login-href" href="/register">Регистрация</a>
                {% else %}
                    <a class="login-href" href="/logout">Выход</a>
                {% endif %}
            </div>
            <nav class="nav">
                <a class="nav-link" href="/"> Главная страница </a>
                <a class="nav-link" href="/users"> Пользователи </a>
                <a class="nav-link" href="/info">Справочная информация </a>
            </nav>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
